<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="estado">
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label>Estado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <ion-icon style="transform: rotate(220deg);"  name="refresh"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="billetera">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Billetera</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>