<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="acceso&&acceso=='prueba'&&hidevalue==false">Punto de retiro&nbsp; {{maxTime}} </ion-title>
    <ion-title *ngIf="acceso&&acceso!='prueba'">Punto de retiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding [class]="this.acceso=='prueba' ? 'background fondocontent' : 'background-sin-marca fondocontent'" >
  
<ion-item lines="none" no-padding class="ion-no-padding">
  <ion-text>
    <p style="margin-top: 6px; margin-left:15px;font-size:large;">Popeyes Puruchucu</p>
    <p style="margin-top: -15px; margin-left:15px; font-size:small;">Retirar a las 11:11PM</p>
    <div style="position:absolute; right:5%; top:35%;">
      <ion-icon style="font-size: x-large;" color="primary" name="ellipsis-horizontal"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon style="font-size: x-large;" color="primary" name="map-outline"></ion-icon>
    </div>
  </ion-text>
</ion-item>

<ion-card>
  <ion-card-header>
    <ion-text>
      <p>Detalles dela orden</p>
      <p>875324578 (#3321)</p>
      <p>Jorge Colmenarez</p>
      <p>Ver el producto de la orden (1)</p>
      <hr>
      <p>Pago</p>
      <p>No pagar en el local</p>
    </ion-text>
    <br>
    <ion-button size="large" color="primary" expand="block" >Retirar</ion-button>

  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>

  <ion-card>
    
  </ion-card>


    
  
  
    <!-- <div class="fondomarcapruebagratuita" style="width:100%;height:100%; position: relative; ">
    </div>
   -->
    
    





</ion-content>
